:root {
    --primary: #0064D4;
    --secondary: #F65101;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

body {
    font-family: 'google sans flex', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 2px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo .primary {
    color: var(--primary);
}

.navbar .navbar-logo .secondary {
    color: var(--secondary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

#hamburger-menu {
    display: none;
}

/* Media Queries */
@media (max-width: 1920px) {
    
}
/* Desktop */
@media (max-width: 1920px) {
    
}
/* Tablet */
@media (max-width: 1920px) {
    
}
/* Mobile */
@media (max-width: 1920px) {
    
}