:root {
    --primary: #0064D4;
    --secondary: #F65101;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

body {
    font-family: 'google sans flex', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 2px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 9999;
}

.navbar .navbar-logo {
    width: auto;
    height: 5rem;
    margin: 0;
}

#hamburger-menu {
    display: none;
}

.navbar .navbar-nav a {
    display: none;
    color: #fff;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--secondary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--secondary);
    transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
    transition: 0.2s;
}

.navbar .navbar-nav #menu {
    display: inline-block;
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--secondary);
    
}

/* ucapan */
.cuapcuap {
    display: flexbox;
    text-align: center;
    height: auto;
    width: 90%;
    padding: 5rem 8%;
}

.cuapcuap h1 {
    color: var(--secondary);
    margin-bottom: 2rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1920px) {
    html {
        font-size: 80%;
    }
}

/* Tablet */
@media (max-width: 760px) {
    html {
        font-size: 60%;
    }

    .navbar {
        justify-content: center;
        align-items: center;
        padding: 1rem 7%;
    }

    .navbar .navbar-extra {
        position: absolute;
        right: 2rem;
    }

    #hamburger-menu {
        display:inline-block;
    }

    #home {
        display: none;
    }
    
    #about {
        display: none;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30vw;
        height: 100vh;
        transition: 0.3s ease-in-out;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        display: inline-block;
        padding-right: 100vw;
        color: var(--bg);
        margin: 2rem;
    }
}

/* Handphone */
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}